.mylabel{
    color:black !important;
    font-weight:bold !important;
    font-size:16px !important;
    text-align:center !important;
}
.myinput{
    border:1px solid #584f4f !important;
    border-radius:8px !important;
    font-size:16px !important;
}
.mycheckbox{
    color:black !important;
    font-weight:  !important;
    font-size:16px !important;
    text-align:center !important;
}


.myblockposition{
    margin-top:0.5% ;
    padding-left:0px !important;
    padding-right:0px !important;
}
.myquestion{
    margin-left: 1% !important;
    color:black !important;
    font-weight:  !important;
    font-size:16px !important;
    text-align:left !important;
}
<<<<<<< HEAD
.shortinput{
    width:35px;
}
=======
>>>>>>> upstream/dev
