.mylabel{
    color:black !important;
    font-weight:bold !important;
    font-size:16px !important;
    text-align:center !important;
}

.mylabel2{
    color:black !important;
    font-weight:bold !important;
    font-size:16px !important;
    text-align:left !important;
    text-indent:2em;
}



.myinput{
    border:1px solid #584f4f !important;
    border-radius:8px !important;
    font-size:16px !important;
    padding-top:6px !important;
    padding-bottom:6px !important;
    text-align:center;
    height:34px;
}
.mycheckbox{
    color:black !important;
    font-weight:  !important;
    font-size:16px !important;
    text-align:left !important;
}


.myblockposition{
    margin-top:5px ;
    padding-left:0px !important;
    padding-right:0px !important;
    margin-bottom:10px;
}
.myquestion{
    margin-left: 1% !important;
    color:black !important;
    font-weight:  !important;
    font-size:16px !important;
    text-align:left !important;
}
.shortinput{
    width:35px;
}

.table-entire{
    text-align:center;
    color:black;
    fontsize:13px;
}

.table-small{
    width:10%;
}

.table-bordered th,
  .table-bordered td {
    border: 1px solid #000 !important;
  }

.tlabel1{
    background:#f1b7b7 !important;
}
.tlabel2{
    background:#c7c7fb !important;
}
.tlabel3{
    background:#bfe6bf !important;
}
.tlabel4{
    background:#e3eaad !important;
}

.tlabel5{
    background:#ecef74 !important;
}
.tlabel6{
    background:#c6eadd !important;
}
