<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

<script src="/static/vendor/js/jquery.min.js"></script>
<script src="/static/vendor/js/jquery-2.1.1.min.js"></script>
<!--<script src="http://cache.amap.com/lbs/static/es5.min.js"></script>-->
<script src="http://webapi.amap.com/maps?v=1.3&key=c93e1e293e5b1c3dc581f3ff633144d3&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Walking,AMap.Riding"></script>
<!--<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>-->


<link href="/static/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/map.css">
</head>
<body>

<div id="container"></div>
<div id="panel"></div>
<script src="/static/js/pages/map.js"></script>

</body>
</html>
